<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Dot name:</b>
  <%= @student.dot_name %>
</p>

<p>
  <b>T group:</b>
  <%= @student.t_group %>
</p>

<p>
  <b>T review1:</b>
  <%= @student.t_review1 %>
</p>

<p>
  <b>T review2:</b>
  <%= @student.t_review2 %>
</p>

<p>
  <b>T review3:</b>
  <%= @student.t_review3 %>
</p>

<p>
  <b>T review4:</b>
  <%= @student.t_review4 %>
</p>

<p>
  <b>P group:</b>
  <%= @student.p_group %>
</p>

<p>
  <b>P review1:</b>
  <%= @student.p_review1 %>
</p>

<p>
  <b>P review2:</b>
  <%= @student.p_review2 %>
</p>

<p>
  <b>P review3:</b>
  <%= @student.p_review3 %>
</p>

<p>
  <b>P review4:</b>
  <%= @student.p_review4 %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
